@page "/"

<PageTitle>JsonToJsonMapper Script Tester</PageTitle>

<label for="code">Code</label>
<textarea @bind="_code" id="code" style="width: 100%; height: 400px"></textarea>

<label for="assemblies">Assemblies</label>
<textarea @bind="_assemblies" id="assemblies" style="width: 100%;"></textarea>

<label for="namespaces">NameSpaces</label>
<textarea @bind="_namespaces" id="namespaces" style="width: 100%;"></textarea>

<label for="input">Input</label>
<textarea @bind="_input" id="input" style="width: 100%;"></textarea>

<label for="output">Output</label>
<textarea @bind="_output" id="output" readonly="" style="width: 100%; height: 100px"></textarea>

<button @onclick="@(async () => await OnRun())" disabled="@(!_canRun)">Run</button>
